.markdown-section img {
    display: block;
    margin: 0 auto;
}

.markdown-section p {
    text-indent: 2rem;
}

.gitbook-link {
    display: none !important;
}

.summary .divider {
    display: none !important;
}

.markdown-section ol, .markdown-section ul{
    margin:0 2rem;
}


.markdown-section ol p, .markdown-section ul p{
    text-indent: unset;
}

.markdown-section ol+p, .markdown-section ul+p {
    margin-top: 1.4rem;
}

li[data-level='1.1']{
    display: none;
}

/*nav[role="navigation"] span{*/
/*    padding-left: 10px !important;*/
/*}*/